body {
    font-family: Arial;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    text-align: center;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(205, 179, 213, 1) 37%, rgba(197, 180, 216, 1) 45%, rgba(148, 187, 233, 1) 100%);
    padding: 20px;
    width: 580px;
    

    border-radius: 25px;
}


input {
    padding: 15px;
    width: 90%;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;


}

button {
    padding: 15px;
    margin-top: 10px;
    
    width: 90%;
    border-radius: 8px;
    border: none;
    background: linear-gradient(90deg,rgba(126, 20, 196, 1) 0%, rgba(79, 66, 66, 1) 55%, rgba(252, 176, 69, 1) 100%);
}

#result {
    margin-top: 20px;
}

h3{
    font-size: 22px;
    margin-bottom: 6px;
}

p{
    font-size: 18px;
    margin-bottom: 20px;

}
